<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>ПРИЮТ??</title>
    </head>
    <body>
        <header>
            <h1><a href='/registration'>Пользователь</a></h1>
        </header>
        <nav>
            <a href="/admin">Admin</a>
        </nav>
    </body>
</html>