<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h2>Создание объявления</h2>
    <form action="" method="POST">
        <label for="animal">Животное</label>
        <input type="text" id="animal" name="animal" required>

        <label for="poroda">Порода/вид</label>
        <input type="text" id="poroda" name="poroda" required>

        <label for="name">Кличка</label>
        <input type="text" id="name" name="name" required>

        <label for="age">Возраст</label>
        <input type="text" id="age" name="age" required>

        <button type="submit">Создать</button>
    </form>
</body>
</html>