<!doctype html>
<html lang='en'>
  <form action="" method="post">
    <label for="name">Логин:</label>
    <input type="text" id="name" name="name" placeholder="Ваш логин.." required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="Ваш email.." required>

    <label for="telephone">Телефон:</label>
    <input type="text" id="telephone" name="telephone" required>

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" placeholder="Ваш пароль.." required>

    <input type="submit" value="Register">
  </form>
</html>